@media (min-width: 992px) {
  .container {
    max-width: 80vw;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 75vw;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 70vw;
  }
}
